<nav th:fragment="navbar(activeMenu)"
	class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" th:href="#{view_home}" th:text=#{title}></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"
				th:classappend="${#strings.equals(activeMenu,'home')? 'active':''}">
				<a class="nav-link" th:href="#{view_home}"><span
					class="sr-only"></span></a>
			</li>
		</ul>
	</div>
</nav>