<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default}">

<body>
	<section layout:fragment="navbar" th:remove="tag">
		<div th:replace="fragments/navbar :: navbar('home')" th:remove="tag"></div>
	</section>
	<section layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<span
						th:text="${#strings.concat('Connected in ',connection_address)}"></span>
				</div>
				<div class="col-3">
					<div th:replace="fragments/subNavbar :: subNavbar" th:remove="tag"></div>
					<br /> <span
						th:text="${#strings.concat('Managing ',collectionName,' collection')}"></span>
					<br />
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Action</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{/admin/collection/value/add}">Add</a>
							<a class="dropdown-item" href="#">Delete</a> <a
								class="dropdown-item" href="#">Update</a>
						</div>
					</div>
				</div>
				<div class="col-9">
					<section layout:fragment="admin-content"></section>
				</div>
			</div>
		</div>
	</section>
</body>
</html>