<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default}">

<body>
	<section layout:fragment="navbar" th:remove="tag">
		<div th:replace="fragments/navbar :: navbar('home')" th:remove="tag"></div>
	</section>
	<section layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<span
						th:text="${#strings.concat('Connected in ',connection_address)}"></span>
				</div>
				<div class="col-3">
					<div th:replace="fragments/subNavbar :: subNavbar" th:remove="tag"></div>
				</div>
				<div class="col-9">
					<span th:text="${#strings.concat('Manageing ',collectionName)}"></span>
				</div>
			</div>
		</div>
	</section>
</body>
</html>