<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{admin}">

<body>
	<section layout:fragment="admin-content" th:remove="tag">
		<span th:text="${#strings.concat('Adding value to ',collectionName,' collection')}"></span>
		<br />
		<span>Field </span>
		<select	class="form-control form-control-lg" id="myField">
			<option th:each="opt:${fields}" th:value="${opt}" th:name="${opt}"
				th:text="${opt}"></option>
		</select>
		<br />
		<span>Value </span>
		<input type="text" class="form-control form-control-lg" id="myValue">
		<br />
		<button type="button" class="btn btn-light" th:onclick="'addValue()'">Add </button>
		<button type="button" class="btn btn-light" th:onclick="'clearCollection()'">Clear </button>
		<button type="button" class="btn btn-success">Save </button>
	</section>
</body>
</html>