<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default}">

<body>
	<section layout:fragment="navbar" th:remove="tag">
		<div th:replace="fragments/navbar :: navbar('home')" th:remove="tag"></div>
	</section>
	<section layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<span
						th:text="${#strings.concat('Connected in ',connection_address)}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<span>Collections
					<small id="emailHelp"
								class="form-text text-muted">Choose one of these and do something.</small>
					</span>
					<form method="post" th:object="${optSelected}" th:action="@{/admin/collection}">
						<select th:field="*{value}"
							class="custom-select custom-select-lg mb-3">
							<option th:each="opt:${collections}" th:text="${opt}" th:value="${opt}"></option>
						</select>
						<button type="submit" class="btn btn-success">Admin Collection</button>
						<a th:href="@{/}" class="btn btn-light">Add New Collection</a>
					</form> 
				</div>
				<div class="col-9">
				<span th:text="${#strings.concat('Manageing ',collectionName)}"></span>
				</div>
			</div>
		</div>
	</section>
</body>
</html>