<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default}">

<body>
	<section layout:fragment="navbar" th:remove="tag">
		<div th:replace="fragments/navbar :: navbar('home')" th:remove="tag"></div>
	</section>
	<section layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<form th:object="${connection}" th:action="@{/connect}"
						method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">Solr Address
								<small id="emailHelp"
								class="form-text text-muted">Let's connecting to some SolrCloud Instance.</small>
							</label> 
							<input
								th:field="*{address}" type="text" class="form-control"
								id="addressSolr" aria-describedby="addressSolr"
								placeholder="ip/dns:port"> 
						</div>
						<button type="submit" class="btn btn-primary">Connect to</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>