<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default}">

<body>
	<section layout:fragment="navbar" th:remove="tag">
		<div th:replace="fragments/navbar :: navbar('home')" th:remove="tag"></div>
	</section>
	<section layout:fragment="content" th:remove="tag">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<span class="text-danger font-weight-bold">
					DMSA Collection Not Found!
					</span><br/>
					You should create a new collection named "DMSA". No needed static fields, except id, root and version.
				</div>
			</div>
		</div>
	</section>
</body>
</html>